

.button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(0, 98, 147);
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.461);
}

.button:hover {
    background-color: blue;
}

.button:active {
    transform: translateY(0.5);
     color: rgb(0, 50, 81);
}